@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: rgb(255 255 255 / 10%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255 255 255 / 15%);
}

@layer components {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-none::-webkit-scrollbar-track {
    display: none;
  }
}

@page {
  size: auto;
  margin: 0mm;
}
